﻿@model Mvc_5_Empty_Template1.Models.Article
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая статья</h2>

<p>@ViewBag.ErrorMessage</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Category, "Category")
    <br />
    @Html.DropDownListFor(model => model.Category.Id, new SelectList(@ViewBag.AvailableCategories, "Id", "NameCategory"))
    <br /><br />
    @Html.LabelFor(model => model.NewsTitle, "Title")
    <br />
    @Html.EditorFor(model => model.NewsTitle)
    <br /><br />
    @Html.LabelFor(model => model.NewsMessage, "Message")
    <br />
    @Html.EditorFor(model => model.NewsMessage)
    <br /><br />

    <input type="submit" value="Добавить" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
