﻿@model IEnumerable<Mvc_5_Empty_Template1.Models.Article>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @foreach (Mvc_5_Empty_Template1.Models.Article b in Model)
    {
        <p><font face="Arial">@b.Category.NameCategory</font></p>
            <p><font size="3" color=#588bc7 face="Arial">@b.NewsTitle</font></p>
            <article><p><font face="Arial">@b.NewsMessage<a href="/Home/Read/@b.Id">Read more</a></font></p></article>
            <hr />
    }
    <p><a href="/Home/Create">Add news</a></p>
</div>
