﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Mvc_5_Empty_Template1.Models.Article 

    @Html.Display("NewsTitle")
    @Html.Display("NewsMessage")
       
@foreach (Mvc_5_Empty_Template1.Models.Comment c in Model.Comments)
{  
    <p><font size="2" face="Arial">@c.Message</font></p>
}

@using (Html.BeginForm("CreateComment", "Home"))
{
    var comment = new Mvc_5_Empty_Template1.Models.Comment();
    comment.Article = Model;

    @Html.Hidden("aid", Model.Id)

    @Html.LabelFor(m => comment.Message, "Comment")
    <br />
    @Html.EditorFor(m => comment.Message)
    <br /><br />   

    <input type="submit" value="Добавить" />
}

