﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("News", "News", "Home")</li>
        <li><a href="javascript:window.print()">Print</a></li>
</ul>
    <style>
        div {
            margin: 10px;
        }
        .layer1 {
            margin-left: 70px;
        }

        hr {
            border: none;
            background-color: #588bc7;
            color: #588bc7;
            height: 1px;
        }
    </style>
    <div class="layer1">
        <font size="9" color=#588bc7 face="Arial">NEWS IT </font>
        <p><font size="5" color=#20558a face="Arial">This is the latest news in the technology world! Read them together with us!</font></p>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My MVC Application</p>
        </footer>
    </div>

    @RenderSection("scripts", false)     
</body>

</html>
